<html>
  <!-- Head tag -->
  <%- partial('_partial/head') %>
  <body class="container">
    <div class="page-wrap">
      <%- partial('_partial/navbar') %>
      <main class="main-row">
        <%- body %>
      </main>
    </div>
    <%- partial('_partial/footer') %>
  </body>
</html>
