{% extends "base.html" %}
{% block title %} {{SITENAME}} {% endblock %}
{% block precontent %}
<!-- *****************************************************************************************************************
	   HEADERWRAP
	   ***************************************************************************************************************** -->
<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 himg">
				<img src="images/buttplug.svg" class="img-responsive logo">
			</div>
			<div class="col-lg-8 col-lg-offset-2">
				<h1>Buttplug.io</h1>
				<h3>Stick It In.</h3>
			</div>
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /headerwrap -->
{% endblock %}
{% block content %}
<!-- *****************************************************************************************************************
	   RELEASE INFO
	   ***************************************************************************************************************** -->
  <div class="container">
    <div class="col-md-1"></div>
  <div class="col-md-10">
    <center><h2>Buttplug C# Version 0.1.0 Released!</h2></center>
    <p>Our first release for Windows 7/8/10 is out! <a href='https://github.com/metafetish/buttplug-csharp/releases'>Downloads are available at our github repo</a>, and a <a href="https://metafetish.club/t/buttplug-c-0-1-0-tutorial/80">tutorial is available on our forums</a>. We currently support XInput (Xbox) Gamepads, Fleshlight Launch, Lovense, Vibratissimo, and Magic Motion toys. More coming soon!</p>
    <p>If you're interest in movie sync, check out <a href="https://metafetish.club/t/tutorial-using-buttplug-with-scriptplayer/68">Syncydink, our open source Web based haptic movie player</a>, based on Vue.js and typescript (and with WebVR support!). There's also the first community project to support Buttplug, <a href="https://github.com/FredTungsten/ScriptPlayer/wiki">ScriptPlayer, a open source native Windows haptic movie player in C#</a>!</p>
    <p>Support for more platforms (macOS, iOS, Linux, Android, ChromeOS) coming soon!</p>
 	</div>
  <div class="col-md-1"></div>
  </div>
<div class="hline"></div>
<!-- *****************************************************************************************************************
	   SERVICE LOGOS
	   ***************************************************************************************************************** -->
<div id="service">
	<div class="container">
 		<div class="row centered">
 			<div class="col-md-4">
 				<i class="fa fa-asterisk"></i>
 				<h4>Cross-Everything</h4>
 				<p>Buttplug works on multiple platforms, and supports both controlling and receiving data from many different types of sex toys, machines, and robots.</p>
 				<p><br/><a href="/about" class="btn btn-theme">More Info</a></p>
 			</div>
 			<div class="col-md-4">
 				<i class="fa fa-arrows-alt"></i>
 				<h4>Modular</h4>
 				<p>Buttplug uses a modular client/server architecture, making it easy to use in multiple configurations. Implementations are available for many different programming languages.</p>
 				<p><br/><a href="/about" class="btn btn-theme">More Info</a></p>
 			</div>
 			<div class="col-md-4">
 				<i class="fa fa-plus-square"></i>
 				<h4>Embeddable</h4>
 				<p>Building an app or game that needs to use a computer controlled sex toy? Buttplug is embeddable! Just a couple of function calls and you'll be up and running.</p>
 				<p><br/><a href="/about" class="btn btn-theme">More Info</a></p>
 			</div>
	 	</div>
	</div><! --/container -->
</div><! --/service -->
<div class="hline"></div>
<div id="service">
	<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <center><h4>Check out our alpha demo video!</h4></center>
      <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/RXD76g5fias?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
 		</div>
    <div class="col-md-2"></div>
	</div><! --/container -->
</div><! --/service -->
<div class="hline"></div>
<div class="container mtb">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 class="centered">Latest Blog Posts</h2>
    {% if articles %}
    <ul class="center-block" id="indexbloglist">
      {% for article in (articles_page.object_list if articles_page else articles) %}
      <li><a href="{{ SITEURL }}/{{ article.url }}"><time datetime="{{ article.date.isoformat() }}"> {{ article.date.date() }}</time> - {{ article.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="col-md-1"></div>
</div>
<div class="hline"></div>
<div class="container mtb">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 class="centered">Latest Github Activity</h2>
    <iframe src="github.html" id="github-feed" scrolling="no" ></iframe>
  </div>
  <div class="col-md-1"></div>
</div>
{% endblock %}
