<footer class="site-footer container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="social-footer col-lg-5 order-lg-11">
      <ul>
        <li><a href="http://metafetish.club"><i class="fab fa-discourse"></i></a></li>
        <li><a href="http://www.twitter.com/buttplugio"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://discord.buttplug.io"><i class="fab fa-discord"></i></a></li>
        <li><a href="http://youtube.buttplug.io"><i class="fab fa-youtube"></i></a></li>
        <li><a href="http://github.buttplug.io"><i class="fab fa-github"></i></a></li>
        <li><a href="http://trello.buttplug.io"><i class="fab fa-trello"></i></a></li>
        <li><a href="http://patreon.com/qdot"><i class="fab fa-patreon"></i></a></li>
      </ul>
    </div>
    <div class="copyright-footer col-lg-5 order-lg-2">
      Copyright Nonpolynomial Labs, 2018
    </div>
    <div class="col-lg-1 order-lg-12"></div>
  </div>
</footer>
