<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <a class="navbar-brand" href="/"><img class="navbar-brand-svg" src="/images/buttplug.svg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-nav-custom">
      <li class="nav-item">
        <a class="nav-link" href="https://buttplug.world/tutorial">Tutorial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/documentation">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/libraries">Libraries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/apps">Apps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/community">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://intiface.com">Intiface</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://patreon.com/qdot">Donate</a>
      </li>
    </ul>
  </div>
</nav>
